<div class="banner">
  <div class="row">
    <div class="size-grid">
      <h1>one</h1>
      <h1>two</h1>
      <h1>three</h1>
      <h1>four</h1>
    </div>
  </div>
</div>

<!-- Start brand_product page Section-->

    <section class="home">
        <div class="main_container">
        </div>

        <div class="brand_products">
            <div class="container">
                <div class="row">
                  <h1 class="p-3">
                    <h1>Product</h1>
                  </h1>
                </div>
                <br>
                <div class="row">
                  <div class="index-grid">
                    <%= simple_form_for [@product, @product_size] do |f| %>
                      <%= f.input :size_name, class: 'btn-white' %>
                      <%= f.input :hip_measurement, class: 'btn-white' %>
                      <%= f.input :bust_measurement, class: 'btn-white' %>
                      <%= f.input :waist_measurement, class: 'btn-white' %>
                      <%= f.input :length_measurement, class: 'btn-white' %>
                      <%= f.button :submit, class: 'btn-brand-sign' %>
                    <% end %>
                  </div>
                </div>
                <br>
                <br>
                <div class="row">
                  <div class="container">
                    <p>hey<%#= link_to 'New Here? No Problem.', new_brand_path %></p>
                  </div>
                </div>
            </div>

        </div>
    </section>

    <!-- End Start brand_product page Section--> 