<div class="banner">
  <div class="row">
    <div class="size-grid">
      <h1>one</h1>
      <h1>two</h1>
      <h1>three</h1>
      <h1>four</h1>
    </div>
  </div>
</div>

<!-- Start brand_product page Section-->

    <section class="home">
        <div class="main_container">
        </div>

        <div class="brand_products">
            <div class="container">
                <div class="row">
                  <h1 class="p-3">
                    <h1>Product Size</h1>
                  </h1>
                </div>
                <br>
                <div class="row">
                    <form>
                      <div class="row">
                        <%= simple_form_for [@product, @product_size] do |f| %>
                          <div class="col">
                            <%= f.input :size_name, collection: ['XS', 'S', 'M', 'L', 'XL', 'XXL'] , prompt: "Select Size" %>
                          </div>
                          <div class="col">
                            <%= f.input :hip_measurement, class: 'btn-size' %>
                          </div>
                          <div class="col">
                            <%= f.input :bust_measurement, class: 'btn-size' %>
                          </div>
                          <div class="col">
                            <%= f.input :waist_measurement, class: 'btn-size' %>
                          </div>
                          <div class="col">
                            <%= f.input :length_measurement, class: 'btn-size' %>
                          </div>
                      </div>
                      <div class="row d-flex justify-content-center p-5">
                        <%= f.button :submit, class: 'btn-white-sm' %>
                      </div>
                      <% end %>
                     </form>



                </div>
                <br>
                <br>
                <div class="row">
                  <div class="container">
                  </div>
                </div>
            </div>

        </div>
    </section>

    <!-- End Start brand_product page Section--> 