
<body>
  <div class="container">
    <div class="row1">
      <div class="logo"><strong>Fits</strong>Me</div>
      <%# <ul>
        <li>Product Name</li>
        <li>Garment Type</li>
        <li>Fabric Type</li>
      </ul> %>
    </div>
    <div class="row2">
      <div class="content">
        <div class="image">
          <%= image_tag 'leather4.jpg', style: "border-radius: 22px;
          width: 425px; height: 500px; margin: 20px; opacity: 1.0; border-color: $gray;"%>
        </div>
        <div class="form">
             <%= simple_form_for [@product, @product_size] do |f| %>
              <div class="col">
                <%= f.input :size_name, collection: ["extra small", "small", "medium", "large", "extra large"] , prompt: "Select Size" %>
                </div>
                          <div class="col">
                            <%= f.input :hip_measurement, class: 'btn-size' %>
                          </div>
                          <div class="col">
                            <%= f.input :bust_measurement, class: 'btn-size' %>
                          </div>
                          <div class="col">
                            <%= f.input :waist_measurement, class: 'btn-size' %>
                          </div>
                          <div class="col">
                            <%= f.input :length_measurement, class: 'btn-size' %>
                          </div>
                          <div class="col d-flex justify-content-center p-5">
                            <%= f.button :submit, label: "Add Size", class: 'btn-orange-big' %>
                          </div>
                      <% end %>
        </div>
      </div>
    </div>
  </div>
</body>