<!-- Need to set up customer_data quiz pages -->
<br>
<div class="form-container">
  <div class = "d-flex justify-content-center align-items-center container p-3">
    <div class="form-card">
      <h1>Enter your fit details</h1>

      <%= simple_form_for @customer_datum do |f| %>
      <%= f.input :age %>
      <%= f.input :height, label: 'Height in cm' %>
      <%= f.input :weight, label: 'Weight in kg' %>
      <%= f.input :body_shape, collection: ["circle", "triangle", "rectangle"] %>
      <%= f.input :fit_preference, collection: ["loose", "medium", "tight"] %>
      <%= f.button :submit %>
      <% end %>
      <%= link_to 'Return home', root_path, class: "btn btn-lg" %>
      <br>
    </div>
  </div>
</div>

