  <div class="background">

  <div class="overlay" style=" position: absolute;width: 100%; height: 100vh;text-align: left;">
  <nav class="navbar" style="margin-top: 1%;">
                <div class="navbar-brand">
                    <a href="http://localhost:3000/"><strong>Fits</strong>Me</a>
                </div>
  </nav>
  <div class="col-md-12">
    <div class="quiz-container">
      <div class="inner-text">
      <h1>Welcome to the <strong>Fits</strong>Me size finder!</h1>
      <p>Answer a few questions to get your size recommendation</p>
    </div>
      <%= simple_form_for @customer_datum, html: { id: "sizeForm" } do |f| %>
      <div class="tab">
        <%= f.input :age, placeholder: "How old are you?" %>
      </div>
      <div class="tab">
        <%= f.input :height, placeholder: 'What is your height in cm?' %>
      </div>
      <div class="tab">
        <%= f.input :weight, placeholder: 'What is your weight in kg?' %>
      </div>
      <div class="tab">
        <%= f.input :body_shape, collection: [['0', 'circle'], ['1', 'triangle'], ['2', 'rectangle']], label_method: :second, value_method: :first %>
      </div>
      <div class="tab">
        <%= f.input :fit_preference, collection: [['0', 'tight'], ['1', 'medium'], ['2', 'loose']], label_method: :second, value_method: :first %>
        <%= f.button :submit, "Get your recommendation", class: "submit-button" %>
      </div>
      <% end %>
      <div style="overflow:auto;">
        <div style="float:right;">
          <button type="button" id="prevBtn">Back</button>
          <button type="button" id="nextBtn">Next</button>
        </div>
      </div>
      <br>
      <div style="text-align:center;margin-top:40px;">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
      </div>
    </div>
  </div>
  </div>
  </div>
