<div class="background">

  <div class="overlay" style=" position: absolute;width: 100%; height: 100vh;text-align: left;">
    <nav class="navbar" style="margin-top: 1%;">
      <div class="navbar-brand">
        <div class="logo">
        <h1><%= link_to "Fits", root_path, :style=>'color: white; font-weight: bold;' %>Me</h1>
      </div>
      </div>
    </nav>
    <div class="col-md-12">
      <div class="quiz-container">
        <div class="tab">
          <h1>Welcome to the FitsMe size finder <i class="fas fa-align-left"></i></i></h1>
          <span>We’ll calculate your perfect fit without you needing to break out the measuring tape.</span>
          <br>
          <br>
          <span>Leave the measuring to us!</span>
          <p>Takes 1 min <i class="far fa-clock"></i></p>
        </div>
        <%= simple_form_for @customer_datum, html: { id: "sizeForm" } do |f| %>
        <div class="tab">
          <%= f.input :age, label: "1→ How old are you?", placeholder: "Type your answer here..." %>
        </div>

        <div class="tab">
          <%= f.input :height, label: '2→ What is your height in cm?', placeholder: "Type your answer here..." %>
        </div>

        <div class="tab">
          <%= f.input :weight, label: '3→ What is your weight in kg?', placeholder: 'Type your answer here...' %>
        </div>
        <div class="tab">
          <%= f.input :body_shape, label: '4→ Please select your build', collection: [[0, 'Slim'], [1, 'Athletic'], [2, 'Full']], label_method: :second, value_method: :first %>
        </div>
        <div class="tab">
          <%= f.input :fit_preference, label: '4→ How would you like this item to fit?', collection: [[0, 'Tight'], [1, 'Medium'], [2, 'Loose']], label_method: :second, value_method: :first, :input_html => {
            :id => "formSelection"} %>
          </div>
          <% end %>
          <div style="overflow:auto;">
            <div style="float:right;">
              <button type="button" id="prevBtn">Back</button>
              <button type="button" id="nextBtn">Next</button>
            </div>
          </div>
          <div style="text-align:center;margin-top:40px;">
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
