<body>
  <div class="container">
    <div class="row1">
      <div class="logo">
        <%= link_to "FitsMe", root_path, :style=>'color: white;' %>
      </div>
      <ul>
        <li>Hello, There! Ready to find your customer their ultimate fit?</li>
        <li><%= link_to "Add Additional Products", new_product_path(@brand), :style=>'color: white; font-size: 16px;' %></li>
        <%# <li><%= link_to "", new_product_path(@brand), :style=>'color: white; font-size: 16px;' %>
        <% if user_signed_in?  %>
          <li><%= link_to 'Change Brand Login', edit_user_registration_path, :style=>'color: white; font-size: 16px;'%></li>
        <% else %>
          <li><%= link_to 'Sign in', new_user_session_path, :style=>'color: white; font-size: 16px;' %></li>
        <% end %>
      </ul>
    </div>
    <div class="row2">
      <div class="content">
        <%# <div class="row">
            <h1>Welcome Back</h1>
        </div> %>
        <div class="row">
          <%# <div class = "container"> %>
          <div class="size-grid">
            <% @product.cycle.take(4).each do |product| %>
              <div class="card-index">
              <%= link_to product_path(product) do %>
                <%= image_tag 'leather4.jpg', style: "border-radius: 8px;
                width: 250px; height: 250px; opacity: 1.0; border-color: $gray; margin: 30px;"%>
                <% end %>
                <div>
                  <p><%= product.name %></p>
                </div>
            </div>
            <% end %>
          </div>
          <%# </div> %>
        </div>
    </div>
  </div>
</body>

