<div class="container">
    <div class="row1">
        <div class="bottom d-flex justify-content-flex-start">
          <ul>
          <% if user_signed_in?  %>
            <li style="font-size: 15px; padding: 5px 5px; color:white;"> <i class="far fa-user"></i> <%= link_to 'Log Out', edit_user_registration_path, :style=>'color: white; font-size: 15px; justify-content:center;'%></li>
          <% else %>
            <li style="font-size: 15px; padding: 5px 5px; color: white;"><i class="far fa-user"></i><%= link_to 'Sign in', new_user_session_path, :style=>'color: white; font-size: 15px;' %></li>
          <% end %> 
          </ul>   
        </div>
      <div class="logo">
        <h1><%= link_to "Fits", root_path, :style=>'color: white; font-weight: bold;' %>Me</h1>
      </div>
      <ul>
        <li></h3>Brand Profile and Setup</h3></li> 
        <div class="d-flex justify-content-center">
          <li style="font-size: 15px; padding: 5px 5px;"><i class="fas fa-coins"></i> Payment Center</li>
        </div>
        <div class="d-flex justify-content-center">
          <li style="font-size: 15px; padding: 5px 5px;"><i class="fas fa-chart-area"></i> Product Analytics</li>
        </div>
      </ul>
    </div>
    <div class="row2">
      <div class="content">
        <div class="index-grid2">
          <div class= "row">
            <div class = "col-4">
              <div class = "card-brand">
                <%= image_tag 'brand2.jpg', style: "border-radius: 8px;
                width: 200px; height: 200px; margin: 2px; opacity: 1.0; border-color: $gray; box-shadow: 0 10px 20px 0 $grey;"%>
              </div>
            </div>
            <div class = "col-8 justify-contents-center">
              <h1><b>Welcome Back<b> <em><%= @brand.name.capitalize %><em></h1>
               <p> <i class="fas fa-location-arrow"></i> 10 Spring Lane Cleveland, Ohio 10889  
                &nbsp; &nbsp; <i class="fas fa-user"> </i> User Since: October 2020
               </p>
               <h3><em>Alerts and Updates<em></h3>
               <p><i class="fas fa-exclamation-circle"></i> Increased Returns of Medium for Navy Blazer </p>
               <p><i class="fas fa-exclamation-circle"></i> Size Large for White Blouse almost out of stock  </p>
            </div>
          </div>
          <div>
            <br>
          <div class="row" style="border-bottom: 1px solid grey; border-top: 1px solid grey;" >
            <h3><b><%= @brand.name.capitalize %> Product History<b></h3>
          </div>
          <div class ="row">
            <div class = "col-3">
              <div class = "card-left">
                <div class="d-flex justify-content-right align-items-center">
                 <div class="row d-flex justify-content-right align-items-center">
                   </h3>Product Quick Stats<h3>
                   <br>
                    <p style="size:18px; color: black;"> <i class="far fa-arrow-alt-circle-up"></i> Medium is your most commonly ordered size</p>
                    <p style="size:18px; color: black;"><i class="fas fa-bomb"></i> Extra Large is your most commonly returned size</p>
                    <p style="size:18px; color: black;"><i class="fas fa-exclamation"></i> Sales Volumes are lower than in Prevous Quarter</p>
                  </div>
              </div>
            </div>
            </div>
            <div class = "col-9">
              <br>
              </h3 style="font-size: 50px;">Product Gallery  </h3>
              <br>
              <%= link_to "+Add", new_product_path(@brand), :class=>'btn-orange-big2', :style=>'margin: 20px 0px; ' %> 
               <br>
               <br>
             <div class="size-grid">
            <% @product.each do |product| %>
              <div class="card-index d-flex justify-content-center">
              <%= link_to product_path(product) do %>
                <% if product.photo.attached?%>
                  <%= cl_image_tag product.photo.key, style: "border-radius: 8px;
          width: 95px; height: 90px; margin: 2px 2px; opacity: 1.0; border-color: $gray;" %>
                    <p><%= product.name %></p>
                <%else%>
                  <%= image_tag 'noimage.jpg', style: "border-radius: 8px;
          width: 95px; height: 90px; margin: 2px; opacity: 1.0; border-color: $gray;"%>
                  <p><%= product.name %></p>
                <%end%>
              <%end%>
            </div>
            <% end %>
          </div>
          </div>
            </div>
          </div>
    </div>
  </div>