<body>
  <div class="container">
    <div class="row1">
      <div class="logo"><strong>Fits</strong>Me</div>
      <ul>
        <li>Product Name</li>
        <li>Garment Type</li>
        <li>Fabric Type</li>
      </ul>
    </div>
    <div class="row2">
      <div class="content">
        <div class="image">
          <%= image_tag 'leather4.jpg', style: "border-radius: 22px;
          width: 425px; height: 500px; margin: 20px; opacity: 1.0; border-color: $gray;"%>
        </div>
        <div class="form">
          <%= simple_form_for [@brand, @product] do |f| %>
          <%= f.input :name, label: "Product Name" %>
          <%= f.input :garment_type, collection: ["shirt", "pants", "jacket", "skirt", "dress", "sweater"] , prompt: "Garment type" %>
          <%= f.input :fabric_type, collection: ["polyester", "cotton", "wool", "jersey", "modal", "silk", "spandex", "tweed", "twill", "viscose", "leather", "lace", "linen", "other natural", "other synthetic"] , prompt: "Fabric type" %>
          <%= f.button :submit, class: 'new-medium-button' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
