<body>
  <div class="container">
    <div class="row1">
        <div class="bottom d-flex justify-content-flex-start">
          <ul>
          <% if user_signed_in?  %>
            <li style="font-size: 15px; padding: 5px 5px; color:white;"> <i class="far fa-user"></i> <%= link_to 'Log Out', edit_user_registration_path, :style=>'color: white; font-size: 15px; justify-content:center;'%></li>
          <% else %>
            <li style="font-size: 15px; padding: 5px 5px; color: white;"><i class="far fa-user"></i><%= link_to 'Sign in', new_user_session_path, :style=>'color: white; font-size: 15px;' %></li>
          <% end %>
          </ul>
        </div>
      <div class="logo">
        <h1><%= link_to "Fits", root_path, :style=>'color: white; font-weight: bold;' %>Me</h1>
      </div>
      <ul>
        <li><h3>Brand Dashboard</h3></li>
        <div class="d-flex">
          <li style="font-size: 15px;"> Upload Steps:</li>
        </div>
        <div class="d-flex">
          <li style="font-size: 15px; padding: 5px 5px;"> 1. Upload products</li>
        </div>
        <div class="d-flex">
          <li style="font-size: 15px; padding: 5px 15px;">2. Add available sizes</li>
        </div>
        <div class="d-flex">
          <li style="font-size: 15px; padding: 5px 30px;"> 3. Activate your products</li>
        </div>
        <div class="d-flex">
          <li style="font-size: 15px;"> Payment Center</li>
        </div>
         <div class="d-flex">
          <li style="font-size: 15px;"> Reports</li>
        </div>
      </ul>
    </div>
  <div class="row2">
    <div class="content" style="height: 100vh;">
      <div class="index-grid2">
        <div class= "row">
          <div class = "col-8" >
            <h1 style="color:$burntorange;">Snapshot: <b><%= @product.name %><b></h1>
            <h3> <em>Saenguin</em></h3>
            <p> <i class="fas fa-location-arrow"></i> 10 Spring Lane Cleveland, Ohio 10889
              &nbsp; &nbsp; <i class="fas fa-user"> </i> User Since: October 2020
            </p>
          </div>
          <div class = "col-4 justify-contents-center">
            <%= image_tag 'logo2.png', style: "border-radius: 8px;
                width: 200px; height: auto; margin: 2px; opacity: 1.0; border-color: $gray; box-shadow: 0 10px 20px 0 $grey;"%>
          </div>
        </div>
         <div class="row">
              <%= image_tag 'brandtime3b.png', style: "
            width: 90%; height: auto; margin: 5px;"%>
          </div>
        <div class="row">
          <div class="col-6 justify-content-center align-items-center p-3">
            <h3><b><%= @product.name %><b>: Product Details</h3>
               <div>
                 <p><b><i class="fas fa-tshirt"></i><b>  <%= @product.garment_type.capitalize %>  
                   &nbsp; &nbsp;<b><i class="fas fa-cut"></i><b>  <%= @product.fabric_type.capitalize %></p>
                </div>
                <div>
              <h3>Available in these Sizes</h3>
              <div class="row p-3">
                <div class="psize-grid">
              <% @product.product_sizes.each do |size| %>
                  <p style="align-content: center;"><i class="fas fa-check-square">&nbsp;</i><%=size.size_name %></p>
              <% end %>
                </div>
              </div>
              </div>

              <div class="row d-flex justify-content-flex-start">
              
                <%= link_to " Add Size", new_product_product_size_path(@product), :style=>"color:black; margin-right: 30px;", :class=>'btn-orange-big'  %>
            
                <% if @product.product_sizes.size >= 5%>
                  <%= link_to "Activate", convert_product_sizes_path(product_sizes: @product.product_sizes.map(&:id), product_id: @product), :class=>"btn-orange-big", :style=>"color:black;" %>
                <%end %>
            </div>
            </div>
          <div class="col-6">
           <div class="index-grid2 justify-contents-center align-items-center p-3">
            <% if @product.photo.attached?%>
              <%= cl_image_tag @product.photo.key, style: "object-fit: cover; border-radius: 8px;
                 width: 300px; height: auto; margin: 5px 5px; opacity: 1.0; border-color: $gray; justify-content:center; align-items: center;" %>
                 <div class="row">
                   <%= link_to "Update #{@product.name}",
                   edit_product_path(@product), style: "color: grey; font-size:12px; margin-top: 20px; margin-left: 10px;"%>
                   <%= link_to "Delete #{@product.name}",
                      product_path(@product), style: "color: grey; font-size:12px; margin-top: 20px; margin-left: 10px;",
                      method: :delete,
                      data: { confirm: "Are you sure" } %>
                 </div>
                 <div class="row">
                   <%= link_to "Back to Gallery", products_path, style: "margin-left: 10px; color: black; font-size: 20px;"%>
                 </div>
              <%# </p><b>Product Name: <b><%= @product.name %>
            <%else%>
              <%= image_tag 'noimage.jpg', style: "object-fit: cover; border-radius: 8px;
                  width: 300px; height: auto; margin: 5px 5px; opacity: 1.0; border-color: $gray; justify-content:center; align-items: center; "%>
                  <div class="row">
                    <%= link_to "Update #{@product.name}",
                    edit_product_path(@product), style: "color: grey; font-size:12px; margin-top: 20px; margin-left: 10px;"%>
                    <%= link_to "Delete #{@product.name}",
                      product_path(@product), style: "color: grey; font-size:12px; margin-top: 20px; margin-left: 10px;",
                      method: :delete,
                      data: { confirm: "Are you sure" } %>
                  </div>
                  <div class="row">
                   <%= link_to "Back to Gallery", products_path, style: "margin-left: 20px; color: black; font-size: 20px;"%>
                 </div>
             <%end%>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
    <%# </div>
  </div> %>
</body>

