<body>
  <div class="container">
    <div class="row1">
      <div class="logo"><strong>Fits</strong>Me</div>
      <%# <ul>
        <li>Product Name</li>
        <li>Garment Type</li>
        <li>Fabric Type</li>
      </ul> %>
    </div>
    <div class="row2">
      <div class="content2">
        <div class="image">
          <%= image_tag 'leather4.jpg', style: "border-radius: 22px;
          width: 425px; height: 500px; margin: 20px; opacity: 1.0; border-color: $gray;"%>
        </div>
        <div class="product-show">
          <h1><em><%= @product.name %><em></h1>
          <br>
          <p><b>Garment Type:<b>  <%= @product.garment_type.capitalize %></p>
          <p><b>Fabric Type:<b>  <%= @product.fabric_type.capitalize %></p>
          <br>
          <h3>Available in these Sizes</h3>
          <br>
          <% @product.product_sizes.each do |size| %>
            <ol>
             <i class="fas fa-check-square"></i><%=size.size_name %>
            </ol>
          <% end %>

          <% if @product.product_sizes.size >= 5%>
          <%= link_to "convert sizes", convert_product_sizes_path(product_sizes: @product.product_sizes.map(&:id), product_id: @product)  %>
            <%end %>


          <p><%= link_to "Size Missing? Add Now", new_product_product_size_path(@product)  %></p>
        </div>
        </div>
      <%# </div> %>
    </div>
  </div>
</body>
