<!DOCTYPE html>
<html>
  <head>
    <title>Fitsme</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%#= render 'shared/navbarblue' %>
    <%#= render 'shared/flashes' %>



    <%= yield %>

  <footer class="text-center text-lg-start d-flex justify-content-around align-items-center" style="background-color: #da6f2a;">
    <div class="footer-col">
                    <h4>FitsMe</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>

                    </ul>
                </div>

    <div class="footer-col">
                    <h4>Get help</h4>
                    <ul>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>

                    </ul>
                </div>

    <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>

<%
=begin%>





    <div class="d-flex justify-content-center py-3 social-media">

      <a href="#" class="social-media"><i class="fab fa-facebook-f"></i> </a>
      <a href="#" class="social-media"><i class="fab fa-youtube"></i> </a>
      <a href="#" class="social-media"><i class="fab fa-instagram"></i> </a>
      <a href="#" class="social-media"><i class="fab fa-twitter"></i> </a>

    </div>

    <!-- Copyright -->
    <div class="text-center text-white p-3">
      © 2021 Copyright:
      <a class="text-white" href="https://www.Fitsmesizing.com/">Fitsmesizing.com</a>
    </div>
    <!-- Copyright -->
  </footer>


<%
=end%>



  </body>
</html>
